#head{
    height: 100%;
    width: 100%;
    background-color: rgb(197, 255, 197);
}

#Subjects{
    height: 100%;
    width: 100%;
    background-color: rgb(108, 254, 108);

}

/* #page3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 201, 0);

} */